/* Fonts */

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 800;
  src: url(../fonts/Inter-Bold.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  padding-top: 8px;
  overflow-x: hidden;
}

[class*="__container"] {
  max-width: 960px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  padding: 28px 0;
}

.button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button > *:not(:last-child) {
  margin-right: 7px;
}

.button__primary {
  background-color: #6b46c1;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 10px;
}

.search {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.logo {
  display: flex;
}

.search {
  display: flex;
  align-items: center;
}

.search__input {
  border: 0px;
  font-size: 16px;
  padding: 0px 10px;
  cursor: pointer;
  width: 100px;
}

.nav__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 30px;
}

.nav__item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__button {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.nav__contacts {
  color: #454444;
}

.hero {
  background-color: #fbfbfb;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
}

.hero__main {
  padding: 44px 60px 44px 44px;
}

.hero__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
}

.hero__subtitle {
  color: #4a5568;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.hero__coffee {
  position: relative;
}

.hero__coffee::after {
  content: url("../img/cup.png");
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: -80px;
  transform: rotate(-25deg);
}

.card-panel__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding: 40px 0;
}

.card {
  display: flex;
  flex-direction: column-reverse;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 5px;
}

.card_wide {
  flex-direction: row;
  justify-content: space-between;
  grid-column: 1/4;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50%;
  padding: 18px 24px 24px;
}

.card_wide .card__content {
  padding: 40px 80px 40px 50px;
}

.card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}

.card_wide .card__title {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 30px;
}

.card__subtitle {
  color: #718096;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 22px;
}

.card_wide .card__subtitle {
  margin-bottom: 30px;
}

.card__date {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #718096;
}

.card__more-button {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #2d3748;
  text-decoration: none;
}

.card__footer {
  display: flex;
  justify-content: space-between;
}

.card__image-wrapper {
  flex-basis: 50%;
}

.card__image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.highlight__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 40px;
}

.highlight__card {
  background-color: #f7fafc;
  border: none;
  border-radius: none;
  box-shadow: none;
  margin-bottom: 30px;
}

.highlight__card .card__content {
  justify-content: center;
}

.icon_arrow {
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99999 0.666626C13.6 0.666626 17.3333 4.39996 17.3333 8.99996C17.3333 13.6 13.6 17.3333 8.99999 17.3333C4.39999 17.3333 0.666656 13.6 0.666656 8.99996C0.666656 4.39996 4.39999 0.666626 8.99999 0.666626ZM9.83332 8.99996V5.66663H8.16666V8.99996H5.66666L8.99999 12.3333L12.3333 8.99996H9.83332Z' fill='white'/%3E%3C/svg%3E%0A");
}

.footer {
  border-top: 1px solid #e8e8e8;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
